transformer-language-model/model&fig_heb/*
# Python
__pycache__/
*.py[cod]
*$py.class

# Secrets
.env

# Editor / IDE
.idea/
.vscode/
.claude/

# Data
data/

# Virtual Environments
.venv/
env/
venv/
ENV/

# uv
.uv/
.python-version
הגשה/
/ex2/qwen2_5_1_5b_lora_200/
/ex2/qwen2_5_1_5b_lora/
/transformer-language-model/final/eng/eng_model/attention_map_batch_100.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_100.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_200.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_200.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_300.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_300.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_400.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_400.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_500.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_500.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_600.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_600.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_700.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_700.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_800.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_800.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_900.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_900.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_1000.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_1000.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_1100.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_1100.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_1200.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_1200.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_1300.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_1300.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_1400.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_1400.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_1500.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_1500.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_1600.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_1600.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_1700.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_1700.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_1800.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_1800.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_1900.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_1900.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_2000.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_2000.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_2100.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_2100.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_2200.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_2200.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_2300.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_2300.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_2400.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_2400.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_2500.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_2500.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_2600.png
/transformer-language-model/final/heb/heb_model/attention_map_batch_2600.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_2700.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_2800.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_2900.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_3000.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_3100.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_3200.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_3300.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_3400.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_3500.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_3600.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_3700.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_3800.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_3900.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_4000.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_4100.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_4200.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_4300.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_4400.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_4500.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_4600.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_4700.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_4800.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_4900.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_5000.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_5100.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_5200.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_5300.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_5400.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_5500.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_5600.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_5700.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_5800.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_5900.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_6000.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_6100.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_6200.png
/transformer-language-model/final/eng/eng_model/attention_map_batch_6300.png
/transformer-language-model/final/eng/eng_model/best_model_seq128_bs32_L8_H4_E256_M1024_lr0p0004650772489.pth
/transformer-language-model/final/heb/heb_model/best_model_seq128_bs32_L8_H4_E256_M1024_lr0p0004650772489.pth

# doit
.doit/


# idea
.idea/